{% extends "base.html" %}

{% block content %}
    <h2>{{ event.name }}</h2>
    <p><strong>Organizador:</strong> {{ event.organizer }}</p>

    {% if address %}
        <p><strong>Dirección Buscada:</strong> {{ address }}</p>
    {% endif %}

    {% if event.place %}
        <p><strong>Lugar:</strong> {{ event.place }}</p>
    {% endif %}

    {% if event.timestamp %}
        <p><strong>Fecha y Hora:</strong> {{ event.timestamp }}</p>
    {% endif %}

    {% if event.details %}
        <p><strong>Detalles:</strong> {{ event.details }}</p>
    {% endif %}

    {% if event.image_url %}
        <p><strong>Imagen Promocional:</strong></p>
        <img src="{{ event.image_url }}" alt="Imagen de {{ event.name }}" class="event-image">
    {% endif %}
{% endblock %}