{% extends "base.html" %}

{% block content %}
    <h1>Eventual</h1>
    <form action="{{ url_for('home') }}" method="post">
        <input type="text" name="address" value="{{ address or '' }}" placeholder="Introduce una dirección" required>
        <button type="submit">Buscar</button>
    </form>

    <a href="{{ url_for('create_event') }}" class="create-event-link">Crear Nuevo Evento</a>

    {% if events %}
        <h3>Eventos Encontrados:</h3>
        <ul>
            {% for event in events %}
                <li>
                    <a href="{{ url_for('event_details', event_id=event._id) }}">{{ event.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <!-- Mapa de la Ubicación Buscada -->
    <div id="map" style="height: 400px; margin-top: 20px;"></div>

    {% if search_lat and search_lon %}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const events = {{ events | tojson }};
                window.initializeMap('map', {{ search_lat }}, {{ search_lon }}, events);
            });
        </script>
    {% endif %}
{% endblock %}