{% extends "base.html" %}

{% block content %}
    <h2>Registros de Inicio de Sesión</h2>
    {% if logs %}
        <table>
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Email</th>
                    <th>Caducidad</th>
                    <th>Token</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                    <tr>
                        <td>{{ log.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                        <td>{{ log.user_email }}</td>
                        <td>{{ log.expiration.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                        <td>{{ log.token }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay registros disponibles.</p>
    {% endif %}
{% endblock %}